/server/  @angelaW879 @Warmedpie @wallclockbuilder @mynameisandreee
/client/  @wsrn829 @Warmedpie @wallclockbuilder @dollworld
/server/RevShop/src/test/java/net/revature/RevShop/ @waiyathamdani @brittmol
